@use "mixins";

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background-color: blanchedalmond;
    min-height: 100vh;
    padding: 0.5rem;
}


h1 {
    color: mixins.$text-color;
    margin: 0;
    @include mixins.formato-texto

}

p {
    color: mixins.$text-color;
    text-transform: uppercase;
    width: 50rem;
    background-color: #f1f1f1;
}

.listado {
    width: 10rem;
    background-color: aquamarine;
    padding: 0.5rem;

    ul {
        margin: 0 0.5rem;

        li {
            list-style: none;

            &:hover {
                color: white;
            }
        }
    }
}